
@{
    ViewBag.Title = "AdminHomepage";
    Layout = "~/Views/Admin/AdminLayoutpage.cshtml";
}


    <style>
        .main1 {
            background-image: url(/Content/Images/Admin.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height:700px;

            /* You can add more styles here */
        }

       
    </style>


    <section class="main1 py-5">
       
    </section>














