
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Home/HomeLayoutpage.cshtml";
}


<section class="main py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7">
                <h1>
                    Find the most <br />
                    Exiting Jobs
                </h1>
            
                <button class="btn2 mt-5">  @Html.ActionLink(" Find a Job", "GetAllPosts", "Home", null, new { @class = "nav-item nav-link btn" })</button>
            </div>
        </div>
    </div>
</section>

