

@{
    Layout = null;
}

<h2>Cascading Dropdowns Example</h2>

<div>
    @Html.DropDownList("CountryId", ViewBag.Countries as SelectList, "Select Country", new { @class = "form-control" })
</div>

<div>
    <select id="StateId" name="StateId" class="form-control">
        <option value="">Select State</option>
    </select>
</div>

<div>
    <select id="CityId" name="CityId" class="form-control">
        <option value="">Select City</option>
    </select>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#CountryId").change(function () {
                var countryId = $(this).val();
                $.post("GetStates", { countryId: countryId }, function (data) {
                    var options = '<option value="">Select State</option>';
                    $.each(data, function (i, state) {
                        options += '<option value="' + state.StateId + '">' + state.StateName + '</option>';
                    });
                    $("#StateId").html(options);
                });
            });

            $("#StateId").change(function () {
                var stateId = $(this).val();
                $.post("GetCities", { stateId: stateId }, function (data) {
                    var options = '<option value="">Select City</option>';
                    $.each(data, function (i, city) {
                        options += '<option value="' + city.CityId + '">' + city.CityName + '</option>';
                    });
                    $("#CityId").html(options);
                });
            });
        });
    </script>
}
