@model List<JobPortal_ManagementSystem.Models.ScheduledInterview>

@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/User/UserLayoutpage.cshtml";
}

<style>
    /* Custom styles */
    .dashboard-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 600px; /* Adjust the minimum height as needed */
        background-color: #FFCCCB;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 80%;
        margin: 10px auto;
        padding: 15px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
       
    }

    .card-content {
        padding: 10px 0;
    }

    .no-interviews {
        margin-top: 20px;
    }

    /* Style for the table header */
    table {
        border-collapse: collapse;
        width: 80%;
        margin: 20px auto;
        background-color: white;
    }

    th {
        background-color:lightcoral; /* Change this color as needed */
        color: #333;
        padding: 10px;
        text-align: center;
    }

    td {
        padding: 8px;
        text-align: center;
    }
    .no-interviews{
        text-align:center;
    }

    h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>

<div class="dashboard-container">
    <h2>Your scheduled interviews</h2>

    @if (Model.Count > 0)
    {
        
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Company Name</th>
                    <th>Location</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var interview in Model)
                {
                    <tr>
                        <td>@interview.title</td>
                        <td>@interview.companyName</td>
                        <td>@interview.Location</td>
                        <td>@interview.InterviewDate.ToString("MM/dd/yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="no-interviews">No scheduled interviews available.</p>
    }
</div>
