
@{
   
   
    Layout = "~/Views/User/UserLayoutpage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHomepage</title>
    <style>
    .main2 {
    background-image: url(/Content/Images/user.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
    /* You can add more styles here */
    }
    </style>
</head>
<body>

    


    <section class="main2 py-0">
    </section>
</body>
</html>
